#form {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25%;
    text-align: right;
}

input,
select {
    position: relative;
    top: 15px;
    display: inline-block;
    right: 25px;
    width: 50%;
    height: 35px;
    background-color: blanchedalmond;
}

h1,
h2 {
    color: blanchedalmond;
    display: inline-block;
    right: 25px;
}

h2 {
    position: relative;
    top: 15px;
}

body {
    background-color: black;
    margin: 0 auto;
}

#matrix-container {
    width: 70%;
    top: 5px;
    bottom: 0;
    left: 5px;
    right: 15px;
    position: absolute;
    background-color: rgb(209, 185, 185);
    border: 1px dashed gainsboro;
    margin: 15px;
}

#matrix-container div {
    z-index: 1;
}
/*--------------------------------------*/
table,#E{
    margin:15px 0px 0px 15px;
    display:inline-block;
    
}
#matrix-container h1{
    color:black;
    vertical-align:top;
}
tr,#E,#P,#newP,#recomend{
    font-size: 16px;
    font-weight: bold;
}
tr > *,span{
    padding:0px 10px;
}
span{
    display: inline-block;
    margin-top:10px;
}
#E{
    display: inline-block;
    vertical-align: top;
}